In [4]:
pip install kafka-python

Requirement already satisfied: kafka-python in c:\users\badar\appdata\local\programs\python\python312\lib\site-packages (2.1.5)
Note: you may need to restart the kernel to use updated packages.

In [40]:
import pandas as pd
from kafka import KafkaProducer
from time import sleep
from json import dumps
import json
import time

In [29]:
producer = KafkaProducer(bootstrap_servers=['localhost:9092'], #change ip here
                         value_serializer=lambda x: 
                         dumps(x).encode('utf-8'))

In [32]:
producer.send('test21', value={'surnasdasdame':'parasdasdmar'})

In [25]:
df = pd.read_csv('c:\\Users\\badar\\Downloads\\indexProcessed.csv')

In [26]:
df.head()

,Index,Date,Open,High,Low,Close,Adj Close,Volume,CloseUSD
0,HSI,1986-12-31,2568.300049,2568.300049,2568.300049,2568.300049,2568.300049,0.0,333.879006
1,HSI,1987-01-02,2540.100098,2540.100098,2540.100098,2540.100098,2540.100098,0.0,330.213013
2,HSI,1987-01-05,2552.399902,2552.399902,2552.399902,2552.399902,2552.399902,0.0,331.811987
3,HSI,1987-01-06,2583.899902,2583.899902,2583.899902,2583.899902,2583.899902,0.0,335.906987
4,HSI,1987-01-07,2607.100098,2607.100098,2607.100098,2607.100098,2607.100098,0.0,338.923013

In [36]:
i=0
while i<2:
    dict_stock = df.sample(1).to_dict(orient="records")[0]
    producer.send('test21', value=dict_stock)
    sleep(1)
    i=i+1

In [35]:
producer.flush() #clear data from kafka server

In [38]:
file_path = "c:\\Users\\badar\\Downloads\\indexProcessed2.csv"

In [ ]:
last_position = 0

while True:
    with open(file_path, 'r') as f:
        lines = f.readlines()

        # Only send new lines
        new_lines = lines[last_position:]
        for line in new_lines:
            data = {'csv_line': line.strip()}
            producer.send('test21', value=data)
            print(f"Sent: {data}")

        last_position = len(lines)

    time.sleep(2)  # Check every 2 seconds

Sent: {'csv_line': 'Index,Date,Open,High,Low,Close,Adj Close,Volume,CloseUSD'}
Sent: {'csv_line': 'HSI,31-12-1986,2568.300049,2568.300049,2568.300049,2568.300049,2568.300049,0,333.8790064'}
Sent: {'csv_line': 'HSI,02-01-1987,2540.100098,2540.100098,2540.100098,2540.100098,2540.100098,0,330.2130127'}
Sent: {'csv_line': 'HSI,05-01-1987,2552.399902,2552.399902,2552.399902,2552.399902,2552.399902,0,331.8119873'}
Sent: {'csv_line': 'HSI,06-01-1987,2583.899902,2583.899902,2583.899902,2583.899902,2583.899902,0,335.9069873'}
Sent: {'csv_line': 'HSI,09-01-1987,2561.699951,2561.699951,2561.699951,2561.699951,2561.699951,0,333.0209936'}